# Problem 1

- Open up a new IPython notebook
- Download [iris dataset](https://www.kaggle.com/uciml/iris/) 
- Load it in Pandas (hint: `pd.read_csv()` to load data)

In [2]:
import pandas as pd
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Problem 2

- What's the shape of  the iris dataset?
- Check if the data has missing values (hint: `.isna()` to check missing)
- Count how many samples in each species? (hint: use [.value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) to count data in each group)

In [4]:
df.shape

(150, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [11]:
df['Species'].value_counts()#normalize=True

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

# Problem 3

- Create a new column called `sepal_ratio` which is equal to sepal width / sepal length


- Create a similar column called `petal_ratio` which is equal to petal width / petal length


- Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches. (hint: 1 cm = 0.3937 inches)

In [14]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [15]:
df['sepal_ratio'] = df.SepalWidthCm / df.SepalLengthCm

In [16]:
df.head(1)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_ratio
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.686275

In [18]:
df['SepalWidthInch'] = df.SepalWidthCm * 0.3937

In [19]:
df.head(1)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_ratio,SepalWidthInch
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.686275,1.37795

# Problem 4

- Encode `species` column into numbers

Hint:
- Create a dictinary 
```
   setosa     : 0 
   versicolor : 1 
   virginica  : 2
```
- use `.map()` to do the mapping.

In [22]:
txt_to_int = {'Iris-setosa': 0,'Iris-versicolor':1, 'Iris-virginica':2}

In [25]:
df['new_species'] = df['Species'].map(txt_to_int)

In [27]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_ratio,SepalWidthInch,new_species
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.686275,1.37795,0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.612245,1.18110,0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.680851,1.25984,0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.673913,1.22047,0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.720000,1.41732,0